footer{
        position: relative;
        background-color: #303030;
        z-index: 999999999999;
        button{
            background-color: #303030;
            border: 0.1rem solid $colorLightBlue;
            &:hover{
                background-color: #4d799b8a;
            }
        }
        span{
            // font-family: 'Asap Condensed', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
        }

        img{
            &:hover{
                border: 1px solid aqua;
                border-radius: 50%;
            }
        }
    }